#Navbar {
  /* height: 10vh; */
}
#Content {
  background-color: rgb(250, 250, 250);
  padding: 0px;
  height: 85vh;
}
#Content h2 {
  padding: 0;
  margin: 0;
}
#Content li {
  margin-bottom: 10px;
}
#MainContainer {
  display:flex;
  flex-direction: column;
  /* padding-bottom: 20px; */
}

